{% extends 'base.html' %}

{% block contents %}
<div class="main-inner index posts-expand">




    <div class="post-block">



        <article itemscope itemtype="http://schema.org/Article" class="post-content" lang="">
            <link itemprop="mainEntityOfPage" href="http://example.com/2021/02/06/test/">

            <span hidden itemprop="author" itemscope itemtype="http://schema.org/Person">
                <meta itemprop="image" content="/images/avatar.gif">
                <meta itemprop="name" content="Yichun">
                <meta itemprop="description" content="">
            </span>

            <span hidden itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
                <meta itemprop="name" content="Yichun's Blog">
            </span>
            <header class="post-header">
                <h2 class="post-title" itemprop="name headline">
                    <a href="/2021/02/06/test/" class="post-title-link" itemprop="url">test</a>
                </h2>

                <div class="post-meta-container">
                    <div class="post-meta">
                        <span class="post-meta-item">
                            <span class="post-meta-item-icon">
                                <i class="far fa-calendar"></i>
                            </span>
                            <span class="post-meta-item-text">Posted on</span>

                            <time title="Created: 2021-02-06 23:57:20" itemprop="dateCreated datePublished"
                                datetime="2021-02-06T23:57:20-08:00">2021-02-06</time>
                        </span>
                        <span class="post-meta-item">
                            <span class="post-meta-item-icon">
                                <i class="far fa-calendar-check"></i>
                            </span>
                            <span class="post-meta-item-text">Edited on</span>
                            <time title="Modified: 2021-02-07 09:47:16" itemprop="dateModified"
                                datetime="2021-02-07T09:47:16-08:00">2021-02-07</time>
                        </span>
                        <span class="post-meta-item">
                            <span class="post-meta-item-icon">
                                <i class="far fa-folder"></i>
                            </span>
                            <span class="post-meta-item-text">In</span>
                            <span itemprop="about" itemscope itemtype="http://schema.org/Thing">
                                <a href="/categories/new/" itemprop="url" rel="index"><span
                                        itemprop="name">new</span></a>
                            </span>
                        </span>


                    </div>

                </div>
            </header>




            <div class="post-body" itemprop="articleBody">
                <h1 id="Another-test"><a href="#Another-test" class="headerlink" title="Another test"></a>Another test
                </h1>
                <p>this is a test</p>


            </div>





            <footer class="post-footer">
                <div class="post-eof"></div>

            </footer>
        </article>
    </div>







    <div class="post-block">



        <article itemscope itemtype="http://schema.org/Article" class="post-content" lang="">
            <link itemprop="mainEntityOfPage" href="http://example.com/2021/02/06/hello/">

            <span hidden itemprop="author" itemscope itemtype="http://schema.org/Person">
                <meta itemprop="image" content="/images/avatar.gif">
                <meta itemprop="name" content="Yichun">
                <meta itemprop="description" content="">
            </span>

            <span hidden itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
                <meta itemprop="name" content="Yichun's Blog">
            </span>
            <header class="post-header">
                <h2 class="post-title" itemprop="name headline">
                    <a href="/2021/02/06/hello/" class="post-title-link" itemprop="url">hello</a>
                </h2>

                <div class="post-meta-container">
                    <div class="post-meta">
                        <span class="post-meta-item">
                            <span class="post-meta-item-icon">
                                <i class="far fa-calendar"></i>
                            </span>
                            <span class="post-meta-item-text">Posted on</span>

                            <time title="Created: 2021-02-06 23:49:50" itemprop="dateCreated datePublished"
                                datetime="2021-02-06T23:49:50-08:00">2021-02-06</time>
                        </span>
                        <span class="post-meta-item">
                            <span class="post-meta-item-icon">
                                <i class="far fa-calendar-check"></i>
                            </span>
                            <span class="post-meta-item-text">Edited on</span>
                            <time title="Modified: 2021-02-07 09:45:31" itemprop="dateModified"
                                datetime="2021-02-07T09:45:31-08:00">2021-02-07</time>
                        </span>


                    </div>

                </div>
            </header>




            <div class="post-body" itemprop="articleBody">
                <h1 id="Start"><a href="#Start" class="headerlink" title="Start"></a>Start</h1>
                <h2 id="Test-title"><a href="#Test-title" class="headerlink" title="Test title"></a>Test title</h2>
                <ul>
                    <li>test bulletin1</li>
                    <li>test bulletin2</li>
                    <li>test bulletin3<figure class="highlight c++">
                            <table>
                                <tr>
                                    <td class="gutter">
                                        <pre><span class="line">1</span><br><span class="line">2</span><br><span class="line">3</span><br><span class="line">4</span><br><span class="line">5</span><br></pre>
                                    </td>
                                    <td class="code">
                                        <pre><span class="line"><span class="comment">// test code block</span></span><br><span class="line"><span class="keyword">int</span> a = <span class="number">100</span>;</span><br><span class="line"><span class="keyword">for</span> (<span class="keyword">int</span> i = <span class="number">0</span>; i &lt; <span class="number">100</span>; ++i) &#123;</span><br><span class="line">    a++;</span><br><span class="line">&#125;</span><br></pre>
                                    </td>
                                </tr>
                            </table>
                        </figure>
                    </li>
                </ul>


            </div>





            <footer class="post-footer">
                <div class="post-eof"></div>

            </footer>
        </article>
    </div>



    <nav class="pagination">
        <span class="page-number current">1</span><a class="page-number" href="/page/2/">2</a><a class="page-number"
            href="/page/3/">3</a><a class="extend next" rel="next" href="/page/2/"><i class="fa fa-angle-right"
                aria-label="Next page"></i></a>
    </nav>


    <script>
        window.addEventListener('tabs:register', () => {
            let { activeClass } = CONFIG.comments;
            if (CONFIG.comments.storage) {
                activeClass = localStorage.getItem('comments_active') || activeClass;
            }
            if (activeClass) {
                const activeTab = document.querySelector(`a[href="#comment-${activeClass}"]`);
                if (activeTab) {
                    activeTab.click();
                }
            }
        });
        if (CONFIG.comments.storage) {
            window.addEventListener('tabs:click', event => {
                if (!event.target.matches('.tabs-comment .tab-content .tab-pane')) return;
                const commentClass = event.target.classList[1];
                localStorage.setItem('comments_active', commentClass);
            });
        }
    </script>
</div>
{% endblock %}