{% extends 'base.html' %}
{% block title %}
Tags | Yichun's Blog
{% endblock %}
{% block contents %}
<div class="main-inner page posts-expand">







    <div class="post-block" lang="en">
        <header class="post-header">

            <h1 class="post-title" itemprop="name headline">Tags
            </h1>

            <div class="post-meta-container">
            </div>

        </header>



        <div class="post-body">
            <div class="tag-cloud">
                <div class="tag-cloud-title">
                    {{ tags|length }} tags in total
                </div>
                <div class="tag-cloud-tags">
                    {% for tag in tags %}
                    <a href="/tags/{{ tag.name }}" style="font-size: 20px;" class="tag-cloud-8">{{ tag.name }}</a>
                    {% endfor %}
                </div>
            </div>

        </div>



    </div>






    <script>
        window.addEventListener('tabs:register', () => {
            let { activeClass } = CONFIG.comments;
            if (CONFIG.comments.storage) {
                activeClass = localStorage.getItem('comments_active') || activeClass;
            }
            if (activeClass) {
                const activeTab = document.querySelector(`a[href="#comment-${activeClass}"]`);
                if (activeTab) {
                    activeTab.click();
                }
            }
        });
        if (CONFIG.comments.storage) {
            window.addEventListener('tabs:click', event => {
                if (!event.target.matches('.tabs-comment .tab-content .tab-pane')) return;
                const commentClass = event.target.classList[1];
                localStorage.setItem('comments_active', commentClass);
            });
        }
    </script>
</div>
{% endblock %}